<app-buscador (propagarBusqueda)="buscar($event)"></app-buscador>
<app-formulario-nueva-pelicula (eventoAgregar)="cargarDatos()"></app-formulario-nueva-pelicula>
<main id="contenedor-peliculas">
    <article *ngFor="let pelicula of peliculas">
        <app-ficha-pelicula [pelicula]="pelicula" [gestionado]="true" 
            (eventoDetalle)="mostrarDetalle($event)"
            (eventoEliminar)="cargarDatos()">
        </app-ficha-pelicula>
    </article>
</main>
<app-detalle-pelicula [peliculaDetallada]="peliculaDetallada" *ngIf="detalleVisible" (eventoCerrar)="cerrar()">
</app-detalle-pelicula>